<html>
<head>
</head>
<body>

<h1>Anmeldung für die M.M.M. e.V Eulenpost</h1>

<p>Hallo <span th:text="${entry.otName}"></span>,</p>
<p>vielen Dank für deine Anmeldung!</p>

<p>Dein Name wurde in der Anmeldeliste aufgenommen. Sobald deine Briefpartner ausgelost wurden bekommst du eine E-Mail
	von uns, in welcher deine diesmaligen Briefpartner stehen.
</p>

<p>
Nachfolgend nochmal deine eingegebenen Daten:
</p>

<p>
    Vorname (IT): <b><span th:text="${entry.firstName}"></span></b> <br>
    Spitzname (IT): <b><span th:text="${entry.nickName}"></span></b> <br>
	Nachname (IT): <b><span th:text="${entry.lastName}"></span></b> <br>
	Hogwarts-Haus (IT): <b><span th:text="${entry.house}"></span></b> <br>
	Deine Anmerkungen: <b><span th:text="${entry.note}"></span></b>
</p>

<p>
    Falls hier was falsch sein sollte, schreibe am besten an orga@mmm-larp.de, damit wir die Daten ändern können.
Wir wünschen dir auf jeden Fall jetzt schon viel Spaß auf der nächsten Con und freuen uns auf dich.
</p>


<p>
	Dein M.M.M. e.V.
</p>
</div>
</body>
</html>
