<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<h1>Anmeldung für die M.M.M. e.V Eulenpost</h1>

<p>Hallo <span th:text="${sender.firstName}"></span> <span th:text="${sender.lastName}"></span>,</p>
<p>Es ist bald soweit!</p>

<p>Die nächste Con rückt in greifbare Nähe und dazu gehört natürlich auch dieses Mal wieder die Eulenpost. Wir haben
	deine diesmaligen Empfänger ausgelost und sie weiter unten aufgelistet! Bitte beachte die Anmerkungen, dass die
	Briefe auch wirklich gut ankommen.
</p>

<p>
Dein Empfänger Nummer Eins ist:
</p>

<p>
    Vorname (IT): <b><span th:text="${receiverOne.firstName}"></span></b> <br>
    Spitzname (IT): <b><span th:text="${receiverOne.nickName}"></span></b> <br>
	Nachname (IT): <b><span th:text="${receiverOne.lastName}"></span></b> <br>
	Hogwarts-Haus (IT): <b><span th:text="${receiverOne.house}"></span></b> <br>
	Anmerkungen: <b><span th:text="${receiverOne.note}"></span></b>
</p>

<p>Dein Empfänger Nummer Zwei ist:</p>

<p>
	Vorname (IT): <b><span th:text="${receiverTwo.firstName}"></span></b> <br>
	Spitzname (IT): <b><span th:text="${receiverTwo.nickName}"></span></b> <br>
	Nachname (IT): <b><span th:text="${receiverTwo.lastName}"></span></b> <br>
	Hogwarts-Haus (IT): <b><span th:text="${receiverTwo.house}"></span></b> <br>
	Anmerkungen: <b><span th:text="${receiverTwo.note}"></span></b>
</p>

<p>
    Jetzt wünschen wir dir viel Spaß beim Schreiben und wir freuen uns auf dich!
</p>

<p>
	Dein M.M.M. e.V.
</p>
</body>
</html>
