<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="fragments/initPage"/>
</head>

<body>

<div th:replace="fragments/navigation :: navigation('index')">Navigation</div>

<div class="container">

  <div class="jumbotron">
    <h1 class="display-4">LARP Community MMM</h1>
    <p class="lead">Bitte hier eintragen... und noch viele weitere... etc...</p>
    <hr class="my-4">
    <form th:object="${entry}" th:action="@{/register}" method="post">
      <div class="form-group col-6" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" th:field="*{email}" placeholder="Email">
      </div>
      <div class="form-group col-6" th:classappend="${#fields.hasErrors('firstName')}? 'has-error'">
        <label for="firstName">Vorname (IT)</label>
        <input type="text" class="form-control" id="firstName" th:field="*{firstName}" placeholder="Vorname">
      </div>
      <div class="form-group col-6" th:classappend="${#fields.hasErrors('lastName')}? 'has-error'">
        <label for="lastName">Nachname (IT)</label>
        <input type="text" class="form-control" id="lastName" th:field="*{lastName}" placeholder="Nachname">
      </div>
      <div class="form-group col-6">
        <label for="note">Notiz</label>
        <textarea class="form-control" rows="4" id="note" th:field="*{note}"></textarea>
        <label for="note">Notiz <span color="#f00">*</span></label>
        <textarea class="form-control" rows="4" id="note"></textarea>
      </div>
      <div class="form-group col-6">
        Felder mit <span color="#f00">*</span> sind optional
      </div>
      <div class="form-group col-6">
        <button class="btn btn-primary" type="submit">Registrieren</button>
      </div>
    </form>
  </div>
</div>

<div th:replace="fragments/footer :: footer">Footer</div>

</body>
</html>
