<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="fragments/initPage"/>
</head>

<body>

<div th:replace="fragments/navigation :: navigation('error')">Navigation</div>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <div class="page-header">
                <h1>Es tut uns Leid <small>Leider kann Ihre Anfrage nicht bearbeitet werden.</small></h1>
            </div>

            <div class="alert alert-error">
                Bitte prüfen Sie Ihre Eingaben oder versuchen Sie es zu einem
                späteren Zeitpunkt noch einmal.
            </div>

            <div class="well">
                <ul>
                    <li>Zeitstempel: <span th:text="${#dates.format(#dates.createNow(), 'dd.MM.yyyy HH:mm:ss')}" th:remove="tag">date</span></li>
                    <li>Meldung: <span th:text="${error}" th:remove="tag">error</span></li>
                </ul>
            </div>

            <a class="btn btn-large btn-primary pull-right" th:href="@{/}">Zur Startseite wechseln</a>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer">Footer</div>

</body>
</html>
