<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="fragments/initPage"/>
</head>

<body>

<div th:replace="fragments/navigation :: navigation('index')">Navigation</div>

<div class="container">

    <h1>Vielen Dank für die Einschreibung!</h1>

    <div class="alert alert-success" role="alert">
        Glückwunsch
    </div>

    <p>
    Du bist für die Eulenpost eingetragen. In Kürze bekommst du noch eine E-Mail, um sicher zu gehen, <br>
    dass alles richtig funktioniert hat. Ansonsten wünschen wir die viel Spaß beim Briefe schreiben (und natürlich erhalten).
    </p>
</div>

<div th:replace="fragments/footer :: footer">Footer</div>

</body>
</html>
</div>
