<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="fragments/initPage"/>
</head>

<body>

<div th:replace="fragments/navigation :: navigation('index')">Navigation</div>

<div class="container">

    <h1>Vielen Dank für die Einschreibung!</h1>

    <div class="alert alert-success" role="alert">
        Glückwunsch
    </div>

    <p>
        Du bist jetzt für die Eulenpost der kommenden Con eingetragen. In Kürze bekommst du noch eine Bestätitgungs E-Mail.
        Sollte dies nicht der Fall sein ist etwas schief gelaufen. Bitte melde das dann direkt der Orga.
        Ansonsten wünschen wir die viel Spaß beim Briefe schreiben (und natürlich erhalten).
    </p>
</div>

<div th:replace="fragments/footer :: footer">Footer</div>

</body>
</html>
</div>
