<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<footer th:fragment="footer">
  <div class="container footer-panel">

    <div class="row">
      <div class="col-md-12">
        <p>(c) TÜV Hessen Mobilität und Beratung GmbH
          <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}" th:remove="tag">date</span>
          Alle Rechte vorbehalten.
          Powered by <a href="https://www.twt-digital-health.de/" target="_blank">TWT Digital Health</a> |
          <a th:href="@{/content/kontakt/impressum__datenschutz/index_ger.html}" target="_blank">Impressum & Datenschutz</a>
        </p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
