<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>LARP </title>

<!-- Le fav and touch icons -->
<link rel="shortcut icon" data-th-href="@{/resource/images/fav/favicon.ico}">
<link rel="apple-touch-icon" data-th-href="@{/resource/images/fav/apple-touch-icon.png}">
<link rel="apple-touch-icon" sizes="72x72" data-th-href="@{/resource/images/fav/apple-touch-icon-72x72.png}">
<link rel="apple-touch-icon" sizes="114x114" data-th-href="@{/resource/images/fav/apple-touch-icon-114x114.png}">

<link rel="stylesheet" type="text/css" data-th-href="@{/resource/themes/default/css/bootstrap/bootstrap.css}">

<script data-th-src="@{/resource/js/lib/jquery/jquery-1.10.2.min.js}"></script>
<script data-th-src="@{/resource/js/lib/xm-lib/jquery.xm-commons.js}"></script>
<script data-th-src="@{/resource/js/lib/jquery-ui/jquery-ui-1.10.3.custom.js}"></script>
<script data-th-src="@{/resource/js/lib/bootstrap/bootstrap.min.js}"></script>
<script data-th-src="@{/resource/js/lib/xm-lib/xm-commons.js}"></script>
<script>
  var applicationRoot = ""
</script>