<th:block data-th-fragment="locationRenderer(location)">
  <th:block data-th-switch="${location}">
    <td data-th-case="'Grünberg'"><a href="/content/schulungen/schulungsorte/standortinfos_und_anfahrt_gruenberg/">Grünberg</a></td>
    <td data-th-case="'Limburg'"><a href="/content/schulungen/schulungsorte/standortinfos_und_anfahrt_limburg/">Limburg</a></td>
    <td data-th-case="'Weilburg'"><a href="/content/schulungen/schulungsorte/standortinfos_und_anfahrt_weilburg/">Weilburg</a></td>
    <td data-th-case="*"><a href="#" data-th-text="${location}"></a></td>
  </th:block>
</th:block>